{% block body -%}
<table class="tablatitulo" width="100%">
  <tr>
    <td rowspan="3"><div align="center"><img src="img/logoreportheader.png" width="125" height="108" /></div></td>
    <td rowspan="3"><b><p align="center">CERTIFICACION DE APORTES OBLIGATORIOS AL SISTEMA INTEGRAL
DE SEGURIDAD SOCIAL</p></b></td>
    <td><p>Código: GF-F04</p></td>
  </tr>
  <tr>
    <td><p>Versión: 3</p></td>
  </tr>
  <tr>
    <td><p>Pág. 1 de 1 </p></td>
  </tr>
</table>
<br>
<table class="tabla" width="100%" style="border-style:solid; border-width:thin">
      <tr>
        <td colspan="4">
               <p>Bogotá D.C. y Fecha</p></td>
      </tr>
      <tr>
        <td colspan="2"><b>YO:</b></td>
        <td colspan="2"><b>Identificado con: C.C - C.E - NIT - TI - Numero: </b></td>
      </tr>
      <tr>
        <td colspan="2"><b>Con domicilio principal en Bogotá dirección : </b></td>
        <td colspan="2"><b>Celular: Telefono</b></td>
      </tr>
      <tr>
        <td colspan="4"><b>ASUNTO:</b> Atentamente, solicito ordenar a quien corresponda realizar el siguiente pago, de acuerdo con la información que a continuación se relaciona</td>
      </tr>
      <tr>
        <td colspan="4"><b>Régimen:</b> 1. Común / 2. Simplificado</td>
      </tr>
      <tr>
        <td colspan="4"><p><b>DECLARO BAJO LA GRAVEDAD DE JURAMENTO QUE:</b></p>
        <p>1. Para dar cumplimiento a lo dispuesto en el Paragrafo 1 del Articulo 4 del Decreto 2271 de 2009, el Articulo 126-1
del ET y el Articulo 15 del Decreto 836 de 1991, que los documentos soporte del pago de aportes obligatorios al
Sistema General de Seguridad Social corresponden a los ingresos provenientes del contrato materia del pago sujeto
a retención, número XXXXXXX suscrito con la el IDPC</p>
<p>2. Para dar cumplimiento al Decreto 1950 de 2012, declaro bajo el gravamen de Juramento que cumplo con los
requisitos señalados en el Articulo 499 del Estatuto Tributario. (Quienes pertenecen al régimen simplificado).</p>
<p>3. Para dar cumplimiento a lo dispuesto en el articulo 18 de la ley 1122 de 2007 y el articulo 50 de la ley 789 de 2002,
entrego copia del pago correspondiente a los aportes al Sistema de Seguridad Social, los cuales se efectuaron así :</p>
</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td width="26%">ENTIDAD</td>
        <td width="25%">PERIODO</td>
        <td width="33%">VALOR APORTE A DEDUCIR</td>
      </tr>
      <tr>
        <td>SALUD</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>PENSION</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="16%">ARL</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4">OTRAS DEDUCCIONES</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">TOTAL APORTES</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4">
        __________________________
        <br>Supervisor y/o interventor
        </td>
      </tr>
      <tr>
        <td colspan="4">Proyectó:
        <br>Revisó:
        </td>
      </tr>
    </table>
{% endblock %}
