{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Aportes de Salud Obligatoria</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('aportes') }}">
            Regresar
        </a>
    </li>
</ul>
{% endblock %}
